.demo {
  display: grid;
  grid-template-columns: calc(50% - 4px) calc(50% - 4px);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  > section {
    padding: 16px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
  }
}